<div class="container">
  <h2 class="text-center">Horaires et tarifs</h2>
  <br />

  <div class="table-responsive">
    <table class="table table-dark border-light table-hover">
      <thead>
        <tr>
          <th scope="col">PRESTATIONS</th>
          <th scope="col">PRIX</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Une séance de massage d’une heure.</th>
          <td>60€</td>
        </tr>
        <tr>
          <th scope="row">Une séance de massage d’une heure trente.</th>
          <td>90 €</td>
        </tr>
        <tr>
          <th scope="row">Une séance de massage de deux heures.</th>
          <td>155 €</td>
        </tr>
        <tr>
          <th scope="row">Abonnement yoga annuel *.</th>
          <td>325 €</td>
        </tr>
        <tr>
          <th scope="row">Une Séance yoga individuelle.</th>
          <td>35 € / H</td>
        </tr>
      </tbody>
      <br />
    </table>
    <h5>COURS DE YOGA</h5>
    <br />
    <br />
    <p>
      Lundi : 12h- 13h30 <br />
      19h- 20h30 <br />
      Mardi : 10h30- 12h <br />

      Mercredi : 19h- 20h30 <br />

      Jeudi : 19h- 20h30 <br />

      Les cours sont aux nombres de places de 7 personnes. Tous sont inscrits à
      l'année.
    </p>
    <br />
    <p>
      * L'engagement est définitif et dû. Jokers de 2 séances, utilisables sur
      l'année.( 2 cours non facturés si absences). <br />
    </p>
    <h5>STAGE SAMEDI </h5>
    <p>
      Rendez-vous de 9h à 12h. La matinée 50€. Si vous avez un tapis, c'est
      bien, sinon le matériel est à votre disposition.
    </p>
    <h5>Mes Partenaires</h5>
    <p>
      CASTELNAU DE MONTMIRAIL
      <a class="liens" href="https://lescrocodilesjaunes.com"
        >AUX CROCODILES JAUNES</a
      >

      <br />

    </p>

      <a href="http://reflexologie-tarn.com">Karine Barranco Reflexologie et kinésiologue </a>
  </div>
</div>
