<div class="container">
  <h2 class="text-center mt-5">Horaires et tarifs</h2>
  <br />
  <br />

  <div class="table-responsive">
    <table class="table table-dark border-light table-hover mx-auto w-50">
      <thead>
        <tr>
          <th scope="col">PRESTATIONS</th>
          <th scope="col">PRIX</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Une séance de massage d’une heure.</th>
          <td>60€</td>
        </tr>
        <tr>
          <th scope="row">Une séance de massage d’une heure trente.</th>
          <td>90 €</td>
        </tr>
        <tr>
          <th scope="row">Une séance de massage de deux heures.</th>
          <td>155 €</td>
        </tr>
        <tr>
          <th scope="row">Abonnement yoga annuel *.</th>
          <td>325 €</td>
        </tr>
        <tr>
          <th scope="row">Une Séance yoga individuelle.</th>
          <td>35 € / H</td>
        </tr>
      </tbody>
      <br />
    </table>
    <h3 class="text-center">COURS DE YOGA</h3>
    <br />
    <br />
    <table class="table table-hover table-dark w-50 mx-auto">
      <thead>
        <tr>
          <th scope="col">Jours</th>

          <th scope="col">Matin</th>
          <th scope="col">Après-midi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Lundi</th>
          <td>12h - 13h30</td>
          <td>19h - 20h30</td>
        </tr>
        <tr>
          <th scope="row">Mardi</th>
          <td>10h30 - 12h</td>
          <td>-</td>
        </tr>
        <tr>
          <th scope="row">Mercredi</th>
          <td>-</td>
          <td>19h - 20h30</td>
        </tr>
        <tr>
          <th scope="row">Jeudi</th>
          <td>-</td>
          <td>19h - 20h30</td>
        </tr>
      </tbody>
    </table>
    <br /><br /><br />
    <p class="text-center">
      Les cours sont aux nombres de places de 7 personnes. Tous sont inscrits à
      l'année.
    </p>
    <br />
    <p class="text-center">
      * L'engagement est définitif et dû. Jokers de 2 séances, utilisables sur
      l'année.( 2 cours non facturés si absences). <br />
    </p>
    <h3 class="text-center">STAGE SAMEDI </h3>
    <p class="text-center">
      Je propose une découverte du yoga, une pratique permettant de
      « goûter » ponctuellement à cette discipline. <br />
      Nombres de places limitées à 7. <br />
      Rendez-vous de 9h à 12h. La matinée 50€. Si vous n'avez pas detapis, le
      matériel sera à votre disposition en salle.
    </p>
    <h3 class="text-center">COUR INDIVIDUEL</h3>
    <p class="text-center">
      l est possible d'avoir un cour individuel en raison d'une problématique
      particulière, <br />
      tant physique que psychologique. Ainsi les postures et le suivit sera
      adapté au mieux au besoin.
    </p>
    <h3 class="text-center">Dates de stages</h3>
    <h4 class="text-center">Année 2022 </h4>
    <p class="text-center">
       08 OCTOBRE <br> 03 DECEMBRE .

    </p>
    <h4 class="text-center">Année 2023</h4>
    <p class="text-center">28 JANVIER <br> 25 MARS <br> 22 AVRIL <br> 17 JUIN .</p>
    <h4 class="text-center">Mes Partenaires</h4>
    <p class="text-center">
      CASTELNAU DE MONTMIRAIL <br />
      <a target="_blank " class="liens" href="https://lescrocodilesjaunes.com"
        >AUX CROCODILES JAUNES</a
      >

      <br />
    </p>

    <p class="text-center">
      Karine Barranco Reflexologie et kinésiologue <br />
      <a target="_blank " class="liens" href="http://reflexologie-tarn.com"
        >Karine Barranco</a
      >
    </p>
    <p class="text-center">
      Les ventres libres <br />
      <a target="_blank " class="liens" href="https://lesventreslibres.fr/"
        >Les ventres libres</a
      >
    </p>
  </div>
</div>
