<div class="container">
  <h2>Qui suis-je ?</h2>

  <img
    class="img-responsive"
    src="../../../assets/images/neck.png"
    alt="photo description"
  />
  <p>
    Ma première passion : la sculpture, le modelage, la terre. <br /><br />
    Ajouter, pétrir, faire surgir de la masse, les subtilités des formes, des
    vides et des pleins, des courbes et des lignes. <br /><br />
    La méditation, l'intériorisation, la conscience, le calme.... <br /><br />
    Puis le Passage, le Lien, l'Union s'est fait avec le Massage et le Yoga.
    <br /><br />
    Je me forme depuis 15 ans maintenant à différentes techniques de massage
    énergétique : <br><br> Avide de sens et de cohérence, ce chemin m'amène à étudier
    encore et toujours. <br />
    <br /><br /><br />

    Chacune d'elles m'ont appris à développer, interpréter le corps, écouter ses
    tensions, ses vagues, ses courants d'énergie. <br><br> Comprendre, ressentir les
    énergies et toucher l'autre dans toute son humanité. <br /><br />

    Le massage est profond, doux, il permet une détente, un bien-être, un lâcher
    prise tant mental, physique, qu'émotionnel. <br><br> Il est adapté à chacun, en toute
    écologie. <br><br> ...Et naturellement je suis allée vers le CHI NEI TSANG, c'était
    une évidence. <br><br> Formée par les ventres libres – Toulouse- - Maître MANTAK CHIA
    avec qui je travaille et me forme encore aujourd'hui. <br>
    https://lesventreslibres.fr <br />
    <br />

    Le ventre : les émotions, les mémoires, détente profonde des organes, du
    système nerveux... <br><br> J'aime au jour d'aujourd'hui personnaliser le massage en
    fonction de ce que la personne me dit lors de l'anamnèse et également ce que
    son corps me dit à l'instanté. <br><br> Nursing touch, Accupressure, Fascias, Tuina,
    Ayurveda, CNT, Reiki... <br><br><br><br><br> J'enseigne également le YOGA, depuis 10 ans. <br><br>
    Respiration, postures, intériorisation... <br> Architecture, structure,
    ancrage... <br> Équilibre – Intelligence - Donner du sens. <br> Approche des sens -
    par un ressentit de soi, de plus en plus subtil...de façon à « goûter» sa
    présence et à la devenir - Conscience, Union de l'ensemble, du Tout. <br>
    <br /><br />

    J'ai été diplômée en Hatha Yoga en 2017- ENPY Toulouse. <br />
    La rencontre avec le Yoga, celui qui m'a bouleversée, dans mes fondements,
    mon architecture intérieure, est le Yoga Iyangar en 2014 - D.PILON
    m'accompagne sur ce chemin. <br> https://www.lungtayoga.com Depuis la
    transformation s'opère, petit à petit, ce cheminement intérieur, patiemment
    avec persévérance, discipline, joie.
  </p>
  <img class="animatedflip" src="../../../assets/images/logo.png" alt="logo" />
</div>
