<section class="top-nav">

  <input id="menu-toggle" type="checkbox" />
  <label class="menu-button-container" for="menu-toggle">
    <div class="menu-button"></div>
  </label>
  <ul class="menu">
    <li>
      <a routerLink="home"
        ><img class="logo" src="../../../assets/images/g8735.png" alt=""
      /></a>
    </li>
    <li>
      <a routerLink="about" target="_blank"
        ><i class="fa-solid fa-om"></i>&nbsp; Qui suis-je ?</a
      >
    </li>
    <li>
      <a routerLink="massages" target="_blank"
        ><i class="fa-solid fa-om"></i>&nbsp; Massages</a
      >
    </li>
    <li>
      <a routerLink="yoga" target="_blank"
        ><i class="fa-solid fa-om"></i>&nbsp; Yoga</a
      >
    </li>
    <li>
      <a routerLink="tarifs" target="_blank"
        ><i class="fa-solid fa-om"></i>&nbsp; Les tarifs</a
      >
    </li>
    <li>
      <a routerLink="contact" target="_blank"
        ><i class="fa-solid fa-om"></i>&nbsp; Contact</a
      >
    </li>
    <li><img class="ohm" src="../../../assets/images/ohm2.png" alt="" /></li>

    <!-- <li><a  routerLink="login" target="_blank"><i class="fa-solid fa-user"></i></a></li>
      <li><a  routerLink="register" target="_blank"><i class="fa-solid fa-user-plus"></i></a></li> -->
  </ul>
</section>
