<div class="Container center">
  <p class="text1">
    « Le Yoga est l'installation de l'esprit dans le silence » Patanjali <br />
    <br />
    <br />
    <img
      class="img-responsive"
      src="../../../assets/images/meditation.jpg"
      alt="photo yoga meditation"
    />
    <br /><br />
    Etre en état de Yoga.
  </p>
  <br /><br />
  <p>
    Le yoga est une discipline, qui demande un engagement à soi-même.
    <br /><br /><br />

    Le Yoga s'est s'expérimenter :<br /><br /><br />
    une pratique régulière permet de trouver une fluidité dans son corps, être
    mieux dans sa tête ; prendre de la distance avec ses émotions ;<br /><br />
    accueillir ses limites, pouvoir s'en affranchir, s'accepter
    inconditionnellement.<br /><br /><br />

    S'accueillir en son être, chercher l'équilibre subtil des oppositions afin
    d'être en paix, trouver la Sérénité et la Joie.<br /><br /><br />

    C'est accepter d'être attentif à soi, d'être en accord et en intelligence,
    mettre de la compréhension ; trouver du sens.<br /><br /><br />

    Le yoga c'est s'unir. Le Yoga est l'étude : Des postures «  Asanas », de la <br>
    respiration « Pranayama », de la méditation « Dhyana » pour être dans un
    équilibre qui unifie le corps et l'esprit, pour lever les voiles de <br>
    l'ignorance et atteindre la libération « Moksha ». On entend par
    libération : celle des schémas conditionnés, des vues erronées, des <br>
    croyances limitantes, des idéaux. Sur le tapis : <br /><br />

    On s'accueille avec joie ! <br /><br />
    C'est un moment pour soi, avec soi, unique. On développe la conscience de la
    structure, de l'architecture intérieur qui s'édifie en inter-relation avec
    le corps – la respiration- la conscience.<br><br><br>
     La vigilance d'être à l'instanté,
    au moment présent, en vie. <br /><br /><br /><br />

    Sur le tapis c'est aussi être en correction de notre posture, de notre
    proprioception. S'ajuster avec écologie pour le corps, celui qu'on a, celui
    qui est. <br /><br />
    Ajuster notre regard intérieur. <br /><br />
    Mettre en mouvement ce corps qui se meut, cette respiration qui se diffuse,
    s'établir avec joie dans cet équilibre subtil impermanent.... Accepter le
    changement, et s'abandonner dans le calme, être Témoin, Observateur.
    <br /><br />

    Ressentir l'énergie qui coule, qui rempli l'édifice de la matière, qui
    rempli l'océan des vagues de respiration ; cette conscience qui orchestre
    l'unicité de notre être, transcendant le microcosme au macrocosme.
  </p><br><br><br>
  <p>
    « Il n'existe rien de constant si ce n'est le changement » Bouddha <br><br><br>
    <img src="../../../assets/images/PHOTO LA FEMME AIGLE.jpg" alt="">
  </p> <br><br><br>
</div>
