
  <h1>Massages <br> & <br> Yoga</h1> <br>


<!-- /.carousel -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img id="logo-car" src="../../../assets/images/logonewseptembre.png" class="d-block w-100" alt="photo yoga">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../../assets/images/main 2.jpg" class="d-block w-100" alt="massage ventre">
    </div>

    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../../assets/images/ventre6.png" class="d-block w-100" alt="massage ventre">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../../assets/images/redimention/rachelyoga.jpg" class="d-block w-100" alt="massage ventre">
    </div>
    <div class="carousel-item"data-bs-interval="2000">
      <img src="../../../assets/images/redimention/rachel.jpg" class="d-block w-100" alt="photo yoga">
    </div>
    <div class="carousel-item"data-bs-interval="2000">
      <img src="../../../assets/images/redimention/rachelpositionyoga.jpg" class="d-block w-100" alt="Rachel photo">
    </div>
    <div class="carousel-item"data-bs-interval="2000">
      <img src="../../../assets/images/redimention/massage main.jpg" class="d-block w-100" alt="Rachel photo">
    </div>
    <div class="carousel-item"data-bs-interval="2000">
      <img src="../../../assets/images/image190.png" class="d-block w-100" alt="Rachel photo">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../../assets/images/redimention/rachel-yoga-pont.jpg" class="d-block w-100" alt="ganesh">
    </div>
<div class="carousel-item" data-bs-interval="2000">
      <img src="../../../assets/images/g8735.png" class="d-block w-100" alt="massage ventre">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


