/* @font-face {
font-family: 'vp pixel';
src: url('./assets/VPPixel-Simplified.otf');
} */
body
{
padding: 0;
margin: 0;
 background-color: #1f1f1f;
/* font-family: " VP Pixel", sans-serif; */
color: #c2c2c3;
}
